.button {
  display: inline-block;
  background: #A89447;
  color: #DCDCDC;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-size: 0.90em;
  font-weight: 700;
  padding: 1em 1em;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  position: relative;
  border: none;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden; }

.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -10px);
  text-decoration: none;
  color: #c0c0c0;
  background-color: #1f201a; }

.button:active {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.2);
  transform: translate(0px, 10px); }

.button:after {
  content: "";
  background: #eee;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; }

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto Slab', serif;
  color: #DCDCDC; }

section {
  margin: 0;
  padding: 3.5em 1.5em;
  min-height: 550px; }

.section-title h2 {
  color: #A89447;
  font-size: 3em;
  letter-spacing: 2px;
  text-align: center; }

@media (min-width: 990px) {
  .section-title h2 {
    font-size: 4em; } }

.menu {
  padding: 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  box-sizing: padding-box;
  z-index: 10; }
  .menu .logo {
    display: none; }
    .menu .logo a {
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .menu ul.active {
    display: none; }
  .menu ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: #1f201a;
    margin: 0; }
  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
    padding-top: 0;
    padding-left: .5em;
    border-left: .2em solid transparent; }
  .menu li:hover {
    border-left: 0.2em solid #A89447;
    color: #DCDCDC; }
  .menu a {
    color: #c0c0c0;
    text-decoration: none;
    display: block; }
  .menu a:hover, .menu .current-item a {
    text-decoration: none;
    color: inherit; }

.toggle-nav {
  padding: 10px 15px;
  float: right;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.6em;
  transition: color linear 0.15s; }
  .toggle-nav :hover, .toggle-nav .active {
    text-decoration: none;
    color: #DCDCDC; }

@media (min-width: 768px) {
  .menu {
    height: 4em; }
    .menu .logo {
      display: inline-block;
      position: absolute;
      height: 100%; }
      .menu .logo a {
        color: #DCDCDC;
        font-size: 2em; }
      .menu .logo a:hover {
        color: #A89447; }
    .menu .container {
      height: 100%; }
    .menu .toggle-nav {
      display: none; }
    .menu ul.active {
      height: 100%;
      display: block;
      width: 55%;
      background-color: inherit;
      position: static;
      float: right;
      box-shadow: none;
      padding-top: 1em; }
      .menu ul.active li {
        display: inline-block;
        margin: 0 0 0 7%;
        list-style: none;
        font-size: 17px;
        height: 100%; }
      .menu ul.active li:first-child {
        margin-left: 0; }
      .menu ul.active a {
        display: inline-block;
        padding-top: .3em; } }

@media (min-width: 1300px) {
  .menu ul.active {
    width: 40%; }
    .menu ul.active li {
      margin: 0 0 0 10%; } }

.headerBg, header {
  height: 230px;
  width: 100%;
  top: 0; }

.headerBg {
  background: #1f201a url("../images/headerBgTest.jpg") no-repeat bottom center;
  background-size: cover;
  position: fixed; }

.bg-color-black {
  background-color: rgba(32, 37, 50, 0.9); }

header {
  border-bottom: 10px solid #1f201a;
  z-index: 5;
  position: absolute; }
  header .content {
    position: relative;
    height: 100%;
    width: 100%; }
  header .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    header .intro h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 10vw;
      letter-spacing: 2px;
      color: #A89447; }
    header .intro ul {
      padding: 0; }
      header .intro ul li {
        display: inline;
        white-space: nowrap;
        font-size: 2.8vw;
        color: #DCDCDC; }
      header .intro ul li:after {
        content: " \2020";
        font-weight: bold;
        color: #c0c0c0;
        padding: .5em; }
      header .intro ul li.no-bullet:after {
        content: none; }
  header .contact-me {
    padding: 2vh 0 0; }

@media (min-width: 350px) {
  .headerBg, header {
    height: 350px; } }

@media (min-width: 450px) {
  .headerBg, header {
    height: 400px; } }

@media (min-width: 550px) {
  .headerBg, header {
    height: 500px; } }

@media (min-width: 768px) {
  .headerBg, header {
    height: 600px; }
  header .intro h1 {
    font-size: 6em;
    letter-spacing: 3px; }
  header .intro ul li {
    font-size: 1.72em; }
  header .contact-me .button {
    font-size: 1.2em; } }

@media (min-width: 1300px) {
  .headerBg, header {
    height: 700px; } }

#wrapper {
  position: relative;
  top: 230px;
  background: #1f201a url(../images/padded.png);
  z-index: 3; }

@media (min-width: 350px) {
  #wrapper {
    top: 350px; } }

@media (min-width: 450px) {
  #wrapper {
    top: 400px; } }

@media (min-width: 550px) {
  #wrapper {
    top: 500px; } }

@media (min-width: 768px) {
  #wrapper {
    top: 600px; } }

@media (min-width: 1300px) {
  #wrapper {
    top: 700px; } }

#about {
  background: url(../images/texturetastic_gray.png); }
  #about .about-content p {
    color: #1f201a;
    text-indent: 50px; }
  #about .about-content p, #about .about-content a {
    margin-top: 1.2em; }
  #about .about-content a:last-child {
    margin-left: 1em;
    width: 12em; }
  #about .about-portrait {
    border: 15px solid transparent;
    border-image: url(../images/texturetastic_gray.png) 10% stretch;
    background: url("../images/portrait.jpg") no-repeat top center;
    background-size: cover;
    -webkit-filter: grayscale(60%);
            filter: grayscale(60%);
    height: 300px; }

@media (min-width: 500px) {
  #about .about-portrait {
    height: 450px; } }

@media (min-width: 990px) {
  #about .about-content {
    height: 450px;
    padding: .5em 4em 0; }
    #about .about-content p {
      font-size: 1.15em; } }

@media (min-width: 1200px) {
  #about .about-content {
    height: 450px;
    padding: 2.5em 4em 0; }
    #about .about-content p {
      font-size: 1.2em; } }

@keyframes skill-slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

#skills h3 {
  color: #A89447; }

#skills p {
  text-align: center;
  margin-top: 2em;
  padding: 0 1em;
  font-size: 1.3em;
  color: #c0c0c0;
  margin-bottom: 80px; }

#skills .skill-item .skill-icon {
  font-size: 4em;
  margin-bottom: 0.5em; }

#skills .skill-item .skill-content h3 {
  font-size: 1.75em;
  margin-bottom: 15px;
  font-weight: 700; }

#skills .skill-item .skill-content ul {
  list-style: none;
  padding: 0; }
  #skills .skill-item .skill-content ul li {
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 1.3em; }

#skills .skills-wrapper {
  margin-top: 60px;
  overflow: hidden; }
  #skills .skills-wrapper .sliding-background {
    background: url("../images/skills.png") repeat-x;
    height: 200px;
    width: 5000px;
    animation: skill-slide 60s linear infinite; }

#portfolio .row {
  background: #c0c0c0 url(../images/texturetastic_gray.png); }

.ch-grid {
  margin: 40px auto 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  max-width: 1000px; }

.ch-grid:after, .ch-item:before {
  content: '';
  display: table; }

.ch-grid:after {
  clear: both; }

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px; }

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: default; }

.ch-info-wrap, .ch-info {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%; }

.ch-info-wrap {
  top: 20px;
  left: 20px;
  background: #c0c0c0 url(../images/texturetastic_gray.png);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8); }

.ch-info > div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center; }

.ch-info .ch-info-front {
  transition: all 0.6s ease-in-out; }

.ch-info .ch-info-back {
  opacity: 0;
  background: #1f201a url(../images/padded.png);
  pointer-events: none;
  transform: scale(1.5);
  transition: all 0.4s ease-in-out 0.2s; }

.ch-img-1 {
  background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/14.jpg); }

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }

.ch-info p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.ch-info p a {
  display: block;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px; }

.ch-info p a:hover {
  color: #fff; }

.ch-item:hover .ch-info-front {
  transform: scale(0);
  opacity: 0; }

.ch-item:hover .ch-info-back {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto; }
