body {
  font-family: 'Roboto Slab', serif; }

section {
  height: 500px; }

.menu {
  padding: 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  box-sizing: padding-box;
  z-index: 10;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5); }
  .menu .logo {
    display: inline-block;
    position: absolute;
    height: 100%; }
    .menu .logo a {
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .menu ul.active {
    display: none; }
  .menu ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: #303030;
    margin: 0; }
  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block; }
  .menu a {
    color: #000;
    text-decoration: none;
    display: block; }
  .menu a:hover, .menu .current-item a {
    text-decoration: none;
    color: #66a992; }

.toggle-nav {
  padding: 10px 15px;
  float: right;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.6em;
  transition: color linear 0.15s; }
  .toggle-nav :hover, .toggle-nav .active {
    text-decoration: none;
    color: #66a992; }

@media (min-width: 768px) {
  .menu {
    height: 4em; }
    .menu .container {
      height: 100%; }
    .menu .toggle-nav {
      display: none; }
    .menu ul.active {
      height: 100%;
      display: inline-block;
      width: 50%;
      background-color: inherit;
      position: static;
      float: right;
      box-shadow: none; }
      .menu ul.active li {
        display: inline-block;
        margin: 0 0 0 8%;
        list-style: none;
        font-size: 17px;
        padding-top: 5px; }
      .menu ul.active li:first-child {
        margin-left: 0; } }

.headerBg, header {
  height: 45vh;
  height: 230px;
  width: 100%;
  z-index: -10;
  top: 0; }

.headerBg {
  background: #EEE url("../images/headerBgTest.jpg") no-repeat bottom center;
  background-size: cover;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  position: fixed;
  border-bottom: 15px solid black; }

header {
  position: absolute; }
  header .content {
    position: relative;
    height: 100%;
    width: 100%;
    background: inherit; }
  header .intro {
    background: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    header .intro h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 9vw;
      color: red; }
    header .intro ul {
      padding: 0; }
      header .intro ul li {
        display: inline;
        white-space: nowrap;
        font-size: 2.7vw;
        color: blue; }
      header .intro ul li:after {
        content: " \2020"; }
      header .intro ul li.no-bullet:after {
        content: none; }

@media (min-width: 350px) {
  .headerBg, header {
    height: 360px; }
  header .intro h1 {
    font-size: 8vw; }
  header .intro ul li {
    font-size: 2.5vw; } }

@media (min-width: 450px) {
  .headerBg, header {
    height: 400px; } }

@media (min-width: 550px) {
  .headerBg, header {
    height: 500px; } }

@media (min-width: 768px) {
  .headerBg, header {
    height: 600px; }
  header .intro h1 {
    font-size: 6em; }
  header .intro ul li {
    font-size: 1.9em; } }

@media (min-width: 1300px) {
  .headerBg, header {
    height: 700px; } }
