.button {
  display: inline-block;
  background: #A89447;
  color: #DCDCDC;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-size: 0.75em;
  font-weight: 700;
  padding: 1em 1em;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  position: relative;
  border: none;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden; }

.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -10px);
  text-decoration: none;
  color: #c0c0c0;
  background-color: #1f201a; }

.button:active {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.2);
  transform: translate(0px, 10px); }

.button:after {
  content: "";
  background: #eee;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; }

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto Slab', serif;
  color: #DCDCDC; }

section {
  height: 500px; }

.menu {
  padding: 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  box-sizing: padding-box;
  z-index: 10; }
  .menu .logo {
    display: none; }
    .menu .logo a {
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .menu ul.active {
    display: none; }
  .menu ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: #1f201a;
    margin: 0; }
  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
    padding-top: 0;
    padding-left: .5em;
    border-left: .2em solid transparent; }
  .menu li:hover {
    border-left: 0.2em solid #A89447;
    color: #DCDCDC; }
  .menu a {
    color: #c0c0c0;
    text-decoration: none;
    display: block; }
  .menu a:hover, .menu .current-item a {
    text-decoration: none;
    color: inherit; }

.toggle-nav {
  padding: 10px 15px;
  float: right;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.6em;
  transition: color linear 0.15s; }
  .toggle-nav :hover, .toggle-nav .active {
    text-decoration: none;
    color: #DCDCDC; }

@media (min-width: 768px) {
  .menu {
    height: 4em; }
    .menu .logo {
      display: inline-block;
      position: absolute;
      height: 100%; }
      .menu .logo a {
        color: #DCDCDC;
        font-size: 2em; }
      .menu .logo a:hover {
        color: #A89447; }
    .menu .container {
      height: 100%; }
    .menu .toggle-nav {
      display: none; }
    .menu ul.active {
      height: 100%;
      display: block;
      width: 55%;
      background-color: inherit;
      position: static;
      float: right;
      box-shadow: none;
      padding-top: 1em; }
      .menu ul.active li {
        display: inline-block;
        margin: 0 0 0 7%;
        list-style: none;
        font-size: 17px;
        height: 100%; }
      .menu ul.active li:first-child {
        margin-left: 0; }
      .menu ul.active a {
        display: inline-block;
        padding-top: .3em; } }

@media (min-width: 1300px) {
  .menu ul.active {
    width: 40%; }
    .menu ul.active li {
      margin: 0 0 0 10%; } }

.headerBg, header {
  height: 230px;
  width: 100%;
  top: 0; }

.headerBg {
  background: #1f201a url("../images/headerBgTest.jpg") no-repeat bottom center;
  background-size: cover;
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
  position: fixed; }

.bg-color-black {
  background-color: rgba(32, 37, 50, 0.9); }

header {
  z-index: 5;
  position: absolute; }
  header .content {
    position: relative;
    height: 100%;
    width: 100%; }
  header .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    header .intro h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 10vw;
      color: #A89447; }
    header .intro ul {
      padding: 0; }
      header .intro ul li {
        display: inline;
        white-space: nowrap;
        font-size: 2.8vw;
        color: #DCDCDC; }
      header .intro ul li:after {
        content: " \2020";
        font-weight: bold;
        color: #c0c0c0;
        padding: .5em; }
      header .intro ul li.no-bullet:after {
        content: none; }
  header .contact-me {
    padding: 2vh 0 0; }

@media (min-width: 350px) {
  .headerBg, header {
    height: 350px; } }

@media (min-width: 450px) {
  .headerBg, header {
    height: 400px; } }

@media (min-width: 550px) {
  .headerBg, header {
    height: 500px; } }

@media (min-width: 768px) {
  .headerBg, header {
    height: 600px; }
  header .intro h1 {
    font-size: 6em; }
  header .intro ul li {
    font-size: 1.72em; }
  header .contact-me .button {
    font-size: 1.2em; } }

@media (min-width: 1300px) {
  .headerBg, header {
    height: 700px; } }

#wrapper {
  position: relative;
  top: 230px;
  background-color: #1f201a;
  z-index: 3; }

@media (min-width: 350px) {
  #wrapper {
    top: 350px; } }

@media (min-width: 450px) {
  #wrapper {
    top: 400px; } }

@media (min-width: 550px) {
  #wrapper {
    top: 500px; } }

@media (min-width: 768px) {
  #wrapper {
    top: 600px; } }

@media (min-width: 1300px) {
  #wrapper {
    top: 700px; } }

#about #portrait {
  background: url("../images/portrait.jpg") no-repeat center center;
  background-size: cover;
  -webkit-filter: grayscale(85%);
          filter: grayscale(85%);
  height: 300px;
  vertical-align: middle; }
