.toggle-nav {
  display: none;
}

@media only screen and (min-width: 860px) {
  .menu {
    width: 100%;
    padding: 10px 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #303030;
  }
}
.menu ul {
  display: inline-block;
}
.menu li {
  margin: 0 50px 0 0;
  float: left;
  list-style: none;
  font-size: 17px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #777;
  transition: color linear 0.15s;
}
.menu a:hover, .menu .current-item a {
  text-decoration: none;
  color: #66a992;
}
