#about {


  #portrait {
    background: url('../images/portrait.jpg') no-repeat center center;
    background-size: cover;
    filter: grayscale(85%);
    height: 300px;
    vertical-align: middle;
  }
}