#about {
  padding: 2.5em 1em;
  background: url(../images/texturetastic_gray.png);
  .about-content {
    h3, p {
      color: $ink;
    }
    p, a {
      margin-top: 1.2em;
    }
    a:last-child {
      margin-left: 1em;
      width: 12em;
    }
  }
  .about-portrait {
    border: 15px solid transparent;
    border-image: url(../images/texturetastic_gray.png) 10% stretch;
    background: url('../images/portrait.jpg') no-repeat top center;
    background-size: cover;
    filter: grayscale(60%);
    height: 300px;
  }
}

@media (min-width: 500px) {
  #about {
    .about-portrait {
      height: 450px;
    }
  }
}

@media (min-width: 990px) {
  #about {
    .about-content {
      height: 450px;
      padding: .5em 4em 0;
      p {
        font-size: 1.15em;
      }
    }
  }
}

@media (min-width: 1200px) {
  #about {
    .about-content {
      height: 450px;
      padding: 2.5em 4em 0;
      p {
        font-size: 1.2em;
      }
    }
  }
}