
.headerBg, header {
  //height: 45vh;
  height: 230px;
  width: 100%;
  top: 0;
}

.headerBg {
  background: $ink url('../images/headerBgTest.jpg') no-repeat bottom center;
  background-size: cover;
  //filter: grayscale(75%);
  position: fixed;
}

.bg-color-black {
  background-color: rgba(32, 37, 50, 0.9)
}

header {
  z-index: 5;
  position: absolute;
  .content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 10vw;
      color: $gold;
    }

    ul {
      padding: 0;
      li {
        display: inline;
        white-space: nowrap;
        font-size: 2.8vw;
        color: $white;
      }

      li:after {
        content: " \2020";
        font-weight: bold;
        color: $silver;
        padding: .5em;
      }

      li.no-bullet:after {
        content: none;
      }
    }
  }
  .contact-me {
    padding: 2vh 0 0;
  }
}


@media (min-width: 350px) {
  .headerBg, header {
    height: 350px;
  }
}

@media (min-width: 450px) {
  .headerBg, header {
    height: 400px;
  }
}

@media (min-width: 550px) {
  .headerBg, header {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .headerBg, header {
    height: 600px;
  }
  header {
    .intro {
      h1 {
        font-size: 6em;
      }

      ul li {
        font-size: 1.72em;
      }
    }
    .contact-me .button {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 1300px) {
  .headerBg, header {
    height: 700px;
  }
}









