
header {
  position: absolute;
  min-height: 250px;
  height: 45vh;
  width: 100%;
  z-index: -1;
  background: #EEE url('../images/headerBgTest.jpg') no-repeat center/cover;
  .intro {
    margin-top: 25%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 9vw;
    }

    ul {
      padding: 0;

      li {
        display: inline;
        white-space: nowrap;
        font-size: 2.5vw;
      }

      li:after {
        content: " \2020";
      }

      li.no-bullet:after {
        content: none;
      }
    }
  }
}


@media (min-width: 350px) {
  header {
    min-height: 360px;
    .intro {
        margin-top: 27%;
      h1 {
        font-size: 8vw;
      }

      ul li {
        font-size: 2.2vw;
      }
     }
  }
}

@media (min-width: 450px) {
  header {
    min-height: 400px;
    .intro {
      margin-top: 26%;
    }
  }
}

@media (min-width: 550px) {
  header {
    min-height: 500px;
    .intro {
      margin-top: 25%;
    }
  }
}

@media (min-width: 768px) {
  header {
    height: 100vh;
    min-height: 600px;
    .intro {
      margin-top: 23.55%;

      h1 {
        font-size: 6.5em;
      }

      ul li {
        font-size: 2em;
      }
    }
  }
}









