
//menu
//Menu size on mobile screen sizes
//$desktop-size: "only screen and (min-width: 860px)";
//$mobile_size: "screen and (max-width: 860px)";

//box shadow mixin
@mixin nav-shadow($top, $left, $blur, $color) {
  box-shadow:$top $left $blur $color;
}


//Mobil
.menu {
  padding: 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  box-sizing: padding-box;
  z-index: 10;
  .logo {
    display: none;
    a {
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  ul.active {
    display: none;
  }

  ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 18px;
    @include nav-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.5));
    border-radius: 3px;
    background-color: $ink;
    margin: 0;
  }

  li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
    padding-top: 0;
    padding-left: .5em;
    border-left: .2em solid transparent;
  }

  li:hover {
    border-left: .2em solid $gold;
    color: $white;
  }

  a {
    color: $silver;
    text-decoration: none;
    display: block;
  }

  a:hover, .current-item a {
    text-decoration: none;
    color: inherit;
  }
}

.toggle-nav {
  padding: 10px 15px;
  float: right;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
  font-size: 1.6em;
  transition:color linear 0.15s;

  :hover, .active {
    text-decoration: none;
    color:$white;
  }
}

@media (min-width: 768px) {
  .menu {
    height: 4em;
    .logo{
      display: inline-block;
      position: absolute;
      height: 100%;

      a {
        color: $white;
        font-size: 2em;
      }

      a:hover {
        color: $gold;
      }
    }
    .container {
      height: 100%;
    }
    .toggle-nav {
      display: none;
    }
    ul.active {
      height: 100%;
      display: block;
      width: 55%;
      background-color: inherit;
      position: static;
      float: right;
      box-shadow: none;
      padding-top: 1em;
      li {
        display: inline-block;
        margin: 0 0 0 7%;
        list-style: none;
        font-size: 17px;
        height: 100%;
      }
      li:first-child {
        margin-left: 0;
      }

      a {
        display: inline-block;
        padding-top: .3em;
      }
    }
  }
}

@media (min-width: 1300px) {
  .menu {
    ul.active {
      width: 40%;
      li {
        margin: 0 0 0 10%;
      }
    }
  }
}
























//@media #{$desktop-size}{
//  .menu {
//    width: 100%;
//    padding: 10px 18px;
//    @include nav-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.5));
//    border-radius:3px;
//    background:$menu_bg;
//  }
//}
//
//.menu {
//  ul {
//    display: inline-block;
//  }
//
//  li {
//    margin: 0 50px 0 0;
//    float: left;
//    list-style: none;
//    font-size: 17px;
//  }
//
//  li:last-child {
//    margin-right: 0;
//  }
//
//  a {
//    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
//    color: #777;
//    transition: color linear 0.15s;
//    text-decoration: none;
//  }
//
//  a:hover, .current-item a {
//    text-decoration: none;
//    color: #66a992;
//  }
//}




































