#portfolio {
  background: $silver url(../images/texturetastic_gray.png);
  .ch-grid {
    margin: 40px auto 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    max-width: 1000px;
    li {
      width: 220px;
      height: 220px;
      display: inline-block;
      margin: 20px;
      .ch-item {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
        cursor: default;

        .ch-info-wrap {
          top: 20px;
          left: 20px;
          background: $silver url(../images/texturetastic_gray.png);
          box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
          .ch-info {
            div {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-position: center center;
            }
            .ch-info-front {
              transition: all 0.6s ease-in-out;
            }
          }
        }

        .ch-info-wrap, .ch-info {
          position: absolute;
          width: 180px;
          height: 180px;
          border-radius: 50%
        }
      }
    }
  }
  .ch-grid:after, .ch-item:before {
    content: '';
    display: table;
  }

  .ch-grid:after {
    clear: both;
  }
}



.ch-info .ch-info-back {
  opacity: 0;
  background: $ink url(../images/padded.png);
  pointer-events: none;
  transform: scale(1.5);
  transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 {
  background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/14.jpg);
}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-info a {
  color: $gold;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 1.2em;
  i {
    margin-right: 10px;
  }
}

.ch-info a:hover {
  color: #fff;
}

.ch-item:hover .ch-info-front {
  transform: scale(0);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
