@keyframes skill-slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

#skills {
  p {
    text-align: center;
    margin-top: 1em;
    padding: 0 1em;
    font-size: 1.3em;
    color: $silver;
    margin-bottom: 80px;
  }

  .skill-item {
    .skill-icon {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
    .skill-content {
      h3 {
        font-size: 1.75em;
        margin-bottom: 15px;
        font-weight: 700;
        color: $gold;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-top: 5px;
          letter-spacing: 1px;
          font-size: 1.3em;
        }
      }
    }
  }

  .skills-wrapper {
    margin-top: 40px;
    overflow: hidden;
    .sliding-background {
      background: url('../images/skills.png') repeat-x;
      height: 200px;
      width: 5000px;
      animation: skill-slide 60s linear infinite;
    }
  }
}




















