@keyframes skill-slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

#skills {
  padding-top: 3.5em;
  .content {
    //background-color: $gold;
    padding-bottom: 3em;
  }
  div div h2 {
    font-size: 1.5em;
    padding: 0 0.5em 0.5em;
  }
  .skills-wrapper {
    overflow: hidden;
    //background-color: $ink;
    //box-shadow: 0 0 15px 3px $ink;
    .sliding-background {
      background: url('../images/skills.png') repeat-x;
      height: 200px;
      width: 5000px;
      animation: skill-slide 60s linear infinite;
    }
  }
}

@media (min-width: 500px) {
  #skills {
    div div h2 {
      font-size: 1.8em;
      margin: 1em 0;
    }
  }
}


















